.restaurant-info {
    background-color: #E8E8E8;
    width: 100%;
}

.restaurant-details{
    margin:0;
    padding: 10px;
    display:inline-block;
    
}

.restaurant-image {
    margin:10px;
    display:inline-block;
    float:left;
}

.restaurant-title {
    margin:0px;
    font-size: 150%;
    font-weight:bold;
    text-align: center;
}

.restaurant-locality{
    font-size: 120%;
    text-transform: capitalize;
    text-align: center;
}

.restaurant-categories{
    text-align: center;
}

.rating-cost{
    width:100%;
}

.restaurant-rating{
    float:left;
    width: 40%;
    text-align: center;
}

.restaurant-avg-cost{
    float:right;
    width: 40%;
    text-align: center;
}

.sub-text{
    font-size:80%;
    text-transform: uppercase;
    color: #919191;
}

.menu-items {
    float:left;
    padding:20px;
    width:100%;
}

.menu-item {
    padding:10px;
}

.menu-item-name {
    text-transform: capitalize;
}

.bold {
    font-weight:bold;
}

.cat-heading {
    font-weight:bold;
    color:#919191;
    text-transform: uppercase;
}

.veg-icon {
    color:green;
}

.non-veg-icon {
    color:red;
}

.cart {
    float: right;
    width:100%;
}


@media (min-width: 992px) {
    .restaurant-title {
        text-align: left;
    }
    .restaurant-title {
        text-align: left;
    }
    .restaurant-locality{
        text-align: left;
    }
    
    .restaurant-categories{
        text-align: left;
    }
    
    .restaurant-rating{
        text-align: left;
    }
    .restaurant-avg-cost{
        text-align: left;
    }

    .menu-items {
        width: 50%;
    }

    .cart {
        width: 50%;
    }

}